;; This is a sample Connector Settings.Config file that you would
;; download from your Incapsula Management Console for Logs Setup

;; You can override any of the settings in this file by:
;;    * Specifying them in "user-secrets" (usually DEV time) (e.g. SETTINGS:BASEURL <url>)
;;    * Specifying them as environment vars (e.g. INCAP_LOG_RELAY_SETTINGS:BASEURL=<url>)
;;    * Specifying them as cli options (e.g. /SETTINGS:BASEURL=<url>) 

[SETTINGS]
APIID=00000
APIKEY=00000000-0000-0000-0000-000000000000
PROCESS_DIR=
BASEURL=https://logs1.incapsula.com/000_000000/
USEPROXY=NO
PROXYSERVER=
SAVE_LOCALLY=YES
SYSLOG_ENABLE=NO
SYSLOG_ADDRESS=
SYSLOG_PORT=
USE_CUSTOM_CA_FILE=NO
CUSTOM_CA_FILE=
